@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Assigning the ViewData["Title"] key a value of "Home" (used in the _Layout.cshtml)
    ViewData["Title"] = "Home";
}




<h1 class="Welcome pt-3">David Murdock</h1>

<center>
    <img src="img/Me_Hanging_With_Family.jpg" style="width:100%"/>
    <p>Me playing a game with some of my extended family.</p>
</center>


<div class="container">

    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card border-success mb-3" style="max-width: 50rem;">
                <div class="card-header">Extra Info</div>
                <div class="card-body p-5">
                    <h4 class="card-title">Implemented Bootstrap</h4>

                    <p>s
                        I want to get better at development, particularly like in learning strongly typed language like C#.
                        I really want to learn React as well to help up my skills in User Interface design.
                        I also really want to get better at jQuery, because it seems to make it a lot easier to reference the DOM.
                    </p>
                    <hr>
                    <h4>Top 3 Jobs I'd want to get when I graduate</h4>
                    <ol>
                        <li>Full-Stack Application Developer</li>
                        <li>UX Designer</li>
                        <li>Product/Project Manager</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>

